img {
  float: right;
  margin: 6px
}

h2 {
  font-family: Helvetica;
  color: chocolate;
  text-align: center;
  font-size: 50px;
}

p {
  
  float: left;
}

.sidebar {
  margin: 6px;
  border: 5px solid green;
  padding: 9px;
  background-color: orange;
  width: 20%;
  float: left;
}